:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --blackColor: hsl(26, 0%, 18%);
  --whiteColor: hsl(26, 0%, 100%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(0, 2%, 75%);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);
}

.blog {
  .secContainer {
    .mainContainer {
      gap: 1rem;
      .singlePost {
        gap: 2rem;

        .imgDiv {
          height: 200px;
          width: 100%;
          border-radius: 1rem;
          border: 5px solid var(--greyBg);
          box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.406);
          overflow: hidden;

          &:hover {
            img {
              transform: scale(1.1);
              transition: 3s ease;
            }
          }
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .postDetails {
          h3 {
            color: var(--blackColor);
            font-weight: 600;
            padding-bottom: 10px;
          }
          p {
            font-size: 13px;
            color: var(--textColor);
            font-weight: 500;
          }
        }
        a {
          font-size: 15px;
          color: var(--PrimaryColor);
          font-weight: 600;
          padding-top: .5rem;
          width: max-content;
          &:hover{
            color: var(--HoverColor);
            font-weight: 600;

            .icon{
                transform: translateX(10px);
            }
          }
        }
      }
    }
  }
}
