.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 14px;
  font-family: "Calibri";
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.btn-edit {
  background-color: green;
  margin-right: 20px;
  color: white;
}

.btn-delete {
  background-color: rgb(214, 24, 24);
  margin-right: 20px;
  color: white;
}

.btn-view {
  background-color: rgb(31, 41, 186);
  margin-right: 20px;
  color: white;
}
.btn-addStudent {
  background-color: rgb(232, 95, 15);
  margin-right: 20px;
  color: rgb(255, 255, 255);
}
.btn-addStudent:hover {
  background-color: #d0331b;
}
