@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
}
:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --blackColor: hsl(26, 0%, 18%);
  --whiteColor: hsl(26, 0%, 100%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: hsl(0, 2%, 75%);
  --inputColor: hsl(330, 12%, 97%);
}

/* Default styling */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0.2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.4rem 1.5rem;
  background-color: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn:hover a {
  color: var(--whiteColor);
}
.secIntro{
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}
.secIntro .secTitle{
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: .5rem;
}
.secIntro p{
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}

img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}

@media screen and (min-width: 556px) {
  .mainContent, .singlePost{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (min-width: 884px) {
  .mainContent{
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (min-width: 1240px) {
  .container{
    width: 75% !important;
    margin: auto !important;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
